---
layout: default
---

<div class="home">
  <h1>C++ Programming Guidelines</h1>
  <div class="posts">
    {% for category in site.data.cpp_guidelines %}
      {% assign key = category | first %}
      {% assign content = category | last %}
      <h3 id="{{ key }}">{{ content.title }} <a href="#{{ key }}" class="fa fa-link"></a></h3>
      {% for post in content.entries %}
        <div class="post">
          <p class="post-title">{{ post.text | markdownify }}</p>
        </div>
        {% endfor %}
    {% endfor %} 
  </div>
</div>
