{% assign url_parts = page.url | split: '/' %}
{% assign url_parts_size = url_parts | size %}
{% assign rm = url_parts | last %}
{% assign base_url = page.url | replace: rm %}

<nav class="heading-font">
  <ul class="list-reset">
    {% assign pages = site.pages | sort: 'weight'  %}
    {% for node in pages reversed %}
      {% assign node_url_parts = node.url | split: '/' %}
      {% assign node_url_parts_size = url_parts | size %}
      {% assign node_rm = url_parts | last %}
      {% assign node_base_url = node.url | replace: rm %}
      {% if node.in_menu %}
        {% if base_url == node_base_url %}
          {% assign active = true %}
          {% assign active_classes = "navy bg-aqua" %}
        {% else %}
          {% assign active = false %}
          {% assign active_classes = "" %}
        {% endif %}
        <li class="col-12">
          <a class="px3 block button button-transparent {{ active_classes }}" 
              href='{{ node.url | prepend: site.baseurl }}'>
              {{node.title}}
          </a>
          {% if active and node.data != nil %}
            <ul class="list-reset">
              {% for category in site.data[node.data] %}
                <li>
                  <a href="#{{ category.id }}" class="h6 px4 block button button-transparent">{{ category.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
