{% assign url_parts = page.url | split: '/' %}
{% assign url_parts_size = url_parts | size %}
{% assign rm = url_parts | last %}
{% assign base_url = page.url | replace: rm %}

<nav class="caps">
  <ul class="list-reset">
    {% assign pages = site.pages | sort: 'weight'  %}
    {% for node in pages reversed %}
      {% assign node_url_parts = node.url | split: '/' %}
      {% assign node_url_parts_size = node_url_parts | size %}
      {% assign node_rm = node_url_parts | last %}
      {% assign node_base_url = node.url | replace: rm %}
      {% if node.in_menu and node_url_parts_size < 4 %}
        {% if base_url contains node_base_url or (node.title == "Articles" and page.is_post) %}
          {% assign active = true %}
          {% assign active_classes = "main-color bg-accent-color" %}
        {% else %}
          {% assign active = false %}
          {% assign active_classes = "" %}
        {% endif %}
        <li class>
          <a class="sm-px3 px2 block button button-transparent {{ active_classes }}" 
              href='{{ node.url | prepend: site.baseurl }}'>
              {{node.title}}
          </a>
        </li>
        {% if active and node.data != nil %}
          <ul class="flex flex-wrap list-reset mb0">
            {% for category in site.data[node.data] %}
              <li class="sm-col-12 col-6">
                <a href="#{{ category.id }}" class="small sm-px4 px3 block button button-transparent">{{ category.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</nav>
