{% assign button_classes = "button button-narrow bg-main-color"%}
<div class="pagination clearfix mb1 mt4">
  <div class="left">
    {% if paginator.previous_page %}
        <a class="{{ button_classes }}" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
    {% else %}
      <span class="{{ button_classes }} is-disabled">Newer</span>
    {% endif %}
  </div>
  <div class="right">
    {% if paginator.next_page %}
      <a class="{{ button_classes }}" href="{{ paginator.next_page_path | prepend: site.baseurl  }}/">Older</a>
    {% else %}
      <span class="{{ button_classes }} is-disabled">Older</span>
    {% endif %}
  </div>
</div>
