<div class="mb2 overflow-auto">
<table class="table-vertical-border" style="width: 42em;">
<thead>
  <tr>
    <th></th>
    <th class="f4">Cheap or impossible to copy</th>
    <th class="f4">Cheap to move or moderate cost to move or don't know</th>
    <th class="f4">Expensive to move</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Out</td>
    <td colspan="2" class="center"><code>X f()</code></td>
    <td class="center"><code>f(X&)</code>*</td>
  </tr>
  <tr>
    <td>In/Out</td>
    <td colspan="3" class="center"><code>f(X&)</code></td>
  </tr>
  <tr>
    <td>In</td>
    <td rowspan="2" class="center valign-middle"><code>f(X)</code></td>
    <td rowspan="2" colspan="2" class="center valign-middle"><code>f(const X&)</code></td>
  </tr>
  <tr>
    <td class="table-border-right">In & retain "copy"</td>
  </tr>
</tbody>
</table>
</div>
