---
layout: guidelines
title: C++
heading: C++ Programming Guidelines
weight: 1
in_menu: yes
data: cpp_guidelines
---
{% for category in site.data["cpp_guidelines"] %}
  <section class="border-top border-main-color-light mxn1 mb3 px1">
    <h3 class="guidelines-heading mt1" id="{{ category.id }}">
      {{ category.title }} 
      <span class="links small"><a href="#{{ category.id }}" class="entry-link fa fa-share-alt-square "></a></span>
    </h3>
      {% for post in category.entries %}
        <div class="guidelines-entry flex flex-baseline border-bottom border-darken-2 mt3 sm-py1" id="{{ post_id }}">
        {% capture post_id %}{{category.id}}.{{post.id}}{% endcapture %}
          <p class="flex-auto">
            {{ post.text | markdownify | remove: '<p>' | remove: '</p>' }}
          </p>
          <p class="links">
            <a href="#{{ post_id }}" class="entry-link fa fa-share-alt-square"></a>
            {% if post.ref %}
              <a href="{{ post.ref | prepend: "/articles" | prepend: site.baseurl }}" class="entry-link fa fa-external-link-square"></a>
            {% endif %}
          </p>
        </div>
      {% endfor %}
  </section>
{% endfor %} 
