---
layout: guidelines
title: C++
heading: C++ Programming Guidelines
weight: 1
in_menu: yes
data: cpp_guidelines
---
{% for category in site.data["cpp_guidelines"] %}
  <div class="border-top border-main-color-light mxn1 mb3 px1">
    <h3 class="guidelines-heading mt1" id="{{ category.id }}">
      {{ category.title }} 
      <span class="links small"><a href="#{{ category.id }}" class="fa fa-share-alt-square "></a></span>
    </h3>
    {% for post in category.entries %}
      {% capture post_id %}{{category.id}}.{{post.id}}{% endcapture %}
        <p class="guidelines-entry flex-auto border-bottom border-darken-2 sm-py1" id="{{ post_id }}">
          {{ post.text | markdownify | remove: '<p>' | remove: '</p>' }}
          <span class="links">
            <a href="#{{ post_id }}" class="entry-link fa fa-share-alt-square"></a>
            {% if post.ref %}
              <a href="{{ post.ref | prepend: site.baseurl }}" class="entry-link fa fa-external-link-square"></a>
            {% endif %}
          </span>
        </p>
    {% endfor %}
    </ul>
  </div>
{% endfor %} 
