---
layout: guidelines
title: C++
heading: C++ Programming Guidelines
weight: 1
in_menu: yes
data: cpp_guidelines
---
{% assign categories = site.data["cpp_guidelines"] %}
{% assign num_categories = categories | size %}
{% for category in categories %}
  <section class="mxn1 mt2 mb2 px1">
    <h3 class="guidelines-heading mt1" id="{{ category.id }}">
      <a href="#{{ category.id }}" class="unobstrusive-link">
        {{ category.id }} {{ category.title }} 
      </a>
    </h3>
      {% for post in category.entries %}
        {% capture post_id %}{{category.id}}.{{post.id}}{% endcapture %}
        <div class="flex flex-baseline sm-py1 guidelines-entry" id="{{ post_id }}">
          <div class="flex-none mr1">{{ post_id }}</div>
          <div class="flex-auto">
            <p class="code-nobreak mb0">
              {{ post.text | markdownify | remove: '<p>' | remove: '</p>' }}
              {% if post.ref %}
                <a class="unobstrusive-link fa fa-info-circle" href="{{ post.ref | prepend: "/articles" | prepend: site.baseurl }}"></a>
              {% endif %}
            </p>
            <input readonly style="width: 22em" class="mxn1 fit field-link cursor-pointer js-select-all" type="text" value="{{ post_id | prepend: "/cpp/#" | prepend: site.baseurl | prepend: "http://cginternals.github.io" }}">
          </div>
        </div>
      {% endfor %}
  </section>
{% endfor %} 
