@charset "UTF-8";

/* Base Elements */

code { font-size: 1.1rem }

/* Immutable Utilities */

.heading-font { font-family: $heading-font-family }

.small { font-size: 0.8em }
.smaller { font-size: 0.6em }

.touch-scroll { -webkit-overflow-scrolling: touch }

.overflow-x-hidden { overflow-x: hidden }
.overflow-x-scroll { overflow-x: scroll }
.overflow-x-auto   { overflow-x: auto }

.overflow-y-hidden { overflow-x: hidden }
.overflow-y-scroll { overflow-x: scroll }
.overflow-y-auto   { overflow-x: auto }

@media #{$breakpoint-sm} {
  .sm-fixed { position: fixed }
}

@media #{$breakpoint-md} {
  .sm-fixed { position: fixed }
}

@media #{$breakpoint-lg} {
  .lg-fixed { position: fixed }
}

/* Layout Modules */

$navbar-width: 19em;

@media #{$breakpoint-sm} {
  .sm-w-navbar { width: $navbar-width }
  .sm-ml-navbar { margin-left: $navbar-width }
}

/* Color */

/* Components */

$main-color: $sanjuan;
$main-color-light: $mariner;
$accent-color: $tacao;

.bg-main-color { background-color: $main-color }
.bg-accent-color { background-color: $accent-color }

.main-color { color: $main-color }
.main-color-light { color: $main-color-light }
.accent-color { color: $accent-color }

.border-main-color { border-color: $main-color }
.border-main-color-light { border-color: $main-color-light }
.border-accent-color { border-color: $accent-color }

.title {
  font-family: $font-family;
  color: $tanhide;
}


.guidelines-heading, .guidelines-entry {
  .links { visibility: hidden }
  
  &:hover {
    .links { visibility: visible };
  }
}
