@charset "UTF-8";

$midnightblue: #133F70;
$mariner: #3B65A3;
$sanjuan: #2D4D71;
$jordyblue: #71A3EF;
$rajah: #FDAB5C;
$tanhide: #FBA255;
$tacao: #FBB577;
$black: #333;
$creamcan: #F1C454;

$heading-font-family: 'Merriweather Sans', 'Helvetica Neue', Helvetica, sans-serif;
$font-family: "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;
$button-font-weight: 700 !default;
$link-color: $mariner;

$container-width: 42em;
