@charset "UTF-8";

$mariner: #3B65A3;
$sanjuan: #2D4D71;
$black: #333;
$lynch: #607B9A;

$heading-font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
$font-family: "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;
$button-font-weight: 700;
$link-color: $mariner;

$container-width: 42em;

$breakpoint-md: '(min-width: 48em)';
