---
layout: default
is_post: yes
---

{% assign minutes = content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}


<article>
  <header>
    <h1>{{ page.title }} </h1>
    <p class="mb3 gray">
      <em>{{ page.date | date: "%b %-d, %Y" }}</em><br>
      {% if page.update_date %}
        <em>Updated: {{ page.update_date | date: "%b %-d, %Y" }}</em><br>
      {% endif %}
      <em>{{ minutes }} minute read</em>
    </p>
  </header>
  {{ content }}
</article>
